SERVER_PORT=8080

DB_PORT=5433
DB_URL=jdbc:postgresql://localhost:5432/todo_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=todo_db

KEYCLOAK_PORT=8081
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/todo-realm
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin

PROMETHEUS_PORT=9090

GRAFANA_PORT=3000
GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=admin
